fastapi
uvicorn
sqlalchemy
passlib
bcrypt
aiofiles
pydantic
python-multipart
python-jose
websockets
fastapi
passlib
uvicorn
sqlalchemy
bcrypt
python-jose
python-multipart
aiofiles
requests
pytest
httpx
# pip install -r requirements.txt
#openssl rand -hex 32 to create random ssl form Oauth2
# py -m venv .venv //.venv the name of the virtual envirement and py the version of python mybe python3 or python or py